/* Colors */
:root {
  --blue: #4094EF;
  --black: #262626;
  --grey: #DBDBDB;
  --white: #FFFFFF;
  --red: #DC565B;
}

/* Global-css */
body {
  font-family: "OpenSansLight";
  font-size: 14px;
  color: var(--black);
}

h1 {
  font-family: "PT-Serif_Italic";
  font-weight: bold;
  font-size: 25px;
}

h2 {
  font-size: 24px;
}

button {
  cursor: pointer;
  border-radius: 3px;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

