.info-aside-mobile,
.profile-btn-edit,
#clock-mobile {
  display: none;
}

.page-profile-info {
  display: grid;
  grid-template-columns: 0.9fr 1.8fr;
}

.profile-info-avatar {
  height: 152px;
  max-width: 295px;
  align-items: center;
}

.info-avatar-img {
  max-width: 152px;
  width: 100%;
  border-radius: 50%;
}

.profile-info-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 0 0 15px;
}

.info-description-name {
  justify-content: flex-start;
  align-items: center;
}

.description-name-btn {
  background: var(--blue);
  padding: 6px 12px;
  color: var(--white);
  font-weight: bold;
  margin-left: 18px;
}

.description-name-btn:hover {
  background-color: #7dbbff;
}

.description-name-btn:active {
  box-shadow: 0px 0px 25px 2px rgba(34, 60, 80, 0.62) inset;
}

.info-description-statistic {
  justify-content: flex-start;
}

.description-statistic-posts,
.description-statistic-followers,
.description-statistic-following {
  display: flex;
}

.description-statistic-followers,
.description-statistic-following {
  margin-left: 30px;
}

.info-description-statistic p {
  margin-left: 4px;
}

.info-description-statistic span {
  font-weight: bold;
}

.info-description-statistic,
.info-description-aside,
.info-aside-mobile {
  margin-top: 20px;
}

.info-description-aside,
.info-aside-mobile {
  max-width: 410px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.description-aside-title,
.aside-mobile-title {
  font-weight: bold;
}

.info-description-aside a,
.info-aside-mobile a {
  color: var(--blue);
}

.profile-central-line {
  border-top: solid 1px var(--grey);
  margin: 20px 0;
  color: var(--black);
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
}

.central-line-text {
  margin-top: -1px;
  padding-top: 10px;
  border-top: 1px solid var(--black);
  max-width: 92px;
  justify-content: space-between;
}

.page-profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
}

.profile-content-wrap {
  width: 100%;
  cursor: pointer;
}

.profile-content-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-profile {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  z-index: 2000;
  align-items: center;
  padding: 0 20px;
}

.modal-profile-loading {
  display: none;
  max-width: 600px;
  height: 400px;
  background: var(--white); 
  justify-content: flex-start;
  border-radius: 3px;
}

.profile-loading-wrap {
  width: 100%;
  max-width: 400px;
  height: 100%;
  background: url(../profile/images/loading.gif);
  background-position: center;
}

.loading-wrap-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px 0 0 3px;
}

.profile-loading-control {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 200px;
}

.loading-control-btn {
  width: 130px;
  padding: 8px 0;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 3px;
  margin-bottom: 25px;
  font-weight: bold;
}

.loading-control-btn:hover {
  background-color: #7dbbff;
}

.loading-control-btn:active {
  box-shadow: 0px 0px 25px 2px rgba(34, 60, 80, 0.62) inset;
}

.loading-control-form {
  position: absolute;
  left: 10px;
  bottom: 15px;
  justify-content: space-between;
  display: none;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid var(--grey);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background: var(--white);
}

.loading-control-form output {
  padding: 20px 0;
}

.loading-control-form input {
  width: 140px;
  padding: 9px 0;
  margin: 0 18px;
  cursor: pointer;
}

.control-form-btn {
  color: var(--white);
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 3px;
  margin: 20px 0;
  background: var(--blue);
  font-weight: bold;
}

.control-form-btn:hover {
  background-color: #7dbbff;
}

.control-form-btn:active {
  background: #04c350;
}

.modal-profile-post {
  width: 100%;
  display: none;
  flex-direction: column;
  max-width: 400px;
  background: var(--white);
  border-radius: 3px;
}

.profile-post-wrap {
  width: 100%;
  background-position: center;
  border-radius: 3px 3px 0 0;
  height: 400px;
}

.post-wrap-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.profile-post-description {
  flex-direction: column;
  padding: 8px 10px;
}

.post-description-bar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.description-bar-action button {
  margin-right: 10px;
}

.post-description-like {
  font-weight: bold;
  margin-bottom: 8px;
}

.description-story-login {
  font-weight: bold;
}

.post-description-story {
  line-height: 16px;
}
  

/* Media queries */

/* ========max-width: 550px ======== */
@media only screen and (max-width: 550px) { 
  .info-description-name,
  .info-description-aside {
    display: none;
  }

  .profile-info-description {
    padding-top: 60px;
  }

  #clock-mobile {
    display: block;
    margin: 0 auto;
  }

  .info-description-statistic {
    justify-content: center;
  }

  .description-statistic-posts,
  .description-statistic-followers,
  .description-statistic-following {
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }

  .info-description-statistic p {
    margin: 0;
  }

  .info-aside-mobile {
    display: block;
  }

  .profile-btn-edit {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 1px solid var(--grey);
    font-weight: bold;
    padding: 5px 0;
    margin-top: 20px;
    border-radius: 3px;
  }

  .profile-central-line {
    margin: 5px 0;
    border-top: 0;
    border-bottom: solid 1px var(--grey);
  }

  .line-text-title {
    display: none;
  }

  .central-line-text {
    margin-bottom: -1px;
    padding: 0 0 5px 0;
    border-top: 0;
    border-bottom: 1px solid var(--black);
    max-width: 92px;
    justify-content: center;
  }

  .page-profile-content {
    grid-template-columns: 1fr 1fr;
  }

  .profile-loading-control {
    max-width: 150px;
  }

  .loading-control-form {
    left: -35px;
  }

  .profile-post-wrap {
    height: 350px;
  }

  .profile-post-description {
    font-size: 12px;
  }

}


/* ========max-width: 450px ======== */
@media only screen and (max-width: 450px) {

  .page-profile {
    padding-top: 35px;
  }

  .info-avatar-img {
    margin-top: 20px;
  }

  #clock-mobile {
    font-size: 13px;
  }

  .description-statistic-posts,
  .description-statistic-followers,
  .description-statistic-following {
    margin-left: 8px;
    font-size: 11px;
  }

  .info-aside-mobile  {
    line-height: 15px;
    font-size: 11px;
    margin-top: 0;
  }

  .profile-btn-edit {
    font-size: 11px;
  }

  .modal-profile-loading {
    max-width: 380px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .profile-loading-wrap {
    width: 100%;
    max-width: none;
    height: 87%;
    border-radius: 3px 3px 0 0;
  }

  .loading-wrap-img {
    border-radius: 3px 3px 0 0;
  }

  .profile-loading-control {
    flex-direction: initial;
    align-items: center;
    padding: 9px 0;
    justify-content: space-around;
    max-width: 300px;
  }

  .loading-control-btn {
    width: 77px;
    padding: 5px 0;
    font-size: 12px;
    margin-bottom: 0;
  }

  .loading-control-form {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 6px;
  }

}